language: php

php:
  - 5.3

mysql:
  database: drupal
  username: root
  encoding: utf8
  
before_script:
  - "mysql -e 'create database drupal;'"
  - pear channel-discover pear.drush.org
  - pear install drush/drush
  - phpenv rehash
  - drush make teambuilder_vih_dk.build ../teambuilder_dev.vih.dk
  - cd ../teambuilder_dev.vih.dk
  - sudo chmod -R 777 sites/all/modules
  - drush si teambuilder_vih_dk --db-url=mysql://root:@127.0.0.1/drupal --account-name=admin --account-pass=VIH@2012 --site-mail=admin@example.com --site-name="teambuilder.vih.dk" --yes
  - drush cc all --yes

script: 
  - test -d profiles/teambuilder_vih_dk
  - test -d profiles/teambuilder_vih_dk/modules/contrib
  - test -d profiles/teambuilder_vih_dk/modules/teambuilder
  - test -d profiles/teambuilder_vih_dk/themes
